<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.nom, user %>
  <% if current_user.admin? %>
      | <%= link_to "delete", user, :method => :delete, :confirm => "Are you sure&nbsp;?",
                    :title => "Delete #{user.nom}" %>
  <% end %>
</li>